.columnFilter {
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNS4wMjggNDAuOTgyIj48cGF0aCBkPSJNMCAwaDM1LjAyOHY2LjYwNWwtMTIuNTY0IDEyLjQ5djIxLjg4OGwtOS45NC05LjkwN3YtMTEuOThMLjAwMSA2LjYwNXoiIGZpbGw9IiNhN2E3YTciLz48L3N2Zz4=") no-repeat center center;
	background-size: 15px;
	width: 30px;
	height: 20px;
	float: left;
}

.columnFilter[status="active"] {
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNS4wMjggNDAuOTgyIj48cGF0aCBkPSJNMCAwaDM1LjAyOHY2LjYwNWwtMTIuNTY0IDEyLjQ5djIxLjg4OGwtOS45NC05LjkwN3YtMTEuOThMLjAwMSA2LjYwNXoiIGZpbGw9IiM1YTVhNWEiLz48L3N2Zz4=") no-repeat center center;
	background-size: 15px;
}

#filterMenu {
	display: none;
	position: absolute;
	z-index: 100;
	float: right;
	box-shadow: 3px 3px 10px #5a5a5a;
	background: #fff;
	width: 220px;
	padding: 5px;
	border-radius: 5px;
	color: #5a5a5a;
	overflow: hidden;
}

#filterMenu .searchRow {
	width: inherent;
	height: 20px;
	display: block;
	vertical-align: middle;
	margin: 5px;
}

#filterMenu .searchRow input {
	max-width: 150px;
	float: left;
	vertical-align: middle;
	border: 1px solid #5a5a5a;
	border-radius: 5px;
	padding: 2px;
}

#filterMenu .searchRow .tinyButton {
	width: 20px;
	height: 20px;
	margin-left: 5px;
	display: block;
	float: right;
	vertical-align: middle;
	cursor: pointer;
}

#filterMenu .scrollButton {
	height: 8px;
	width: 100%;
	display: none;
	cursor: pointer;
}

#filterMenu #scrollUp {
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3NiIgaGVpZ2h0PSI0MyIgdmlld0JveD0iMCAwIDIwLjA3OCAxMS4yMjUiPjxkZWZzPjxjbGlwUGF0aCBpZD0iQSI+PHBhdGggZD0iTTAgMGg3Ny4xNjd2NDQuNjY3SDB6Ii8+PC9jbGlwUGF0aD48L2RlZnM+PGcgdHJhbnNmb3JtPSJtYXRyaXgoLjI2NDU4IDAgMCAuMjY0NTggLTEwLjMwNSAtMi40MSkiPjxwYXRoIGQ9Ik03NS44ODYgMS45MlYxNS41M0wzOC41ODMgNDMuMDY1IDEuMjggMTUuNTNWMS45MmwzNy4zMDMgMjcuMzc2eiIgZmlsbC1vcGFjaXR5PSIwIi8+PGcgZmlsbD0iIzVhNWE1YSIgc3Ryb2tlPSIjNWE1YTVhIj48cGF0aCBkPSJNMzkuNTg4IDUwLjg4NVYzNy4xMTdMNzYuODkgOS43NGwzNy4zMDMgMjcuMzc2djEzLjc2OEw3Ni44OSAyMy4zNXoiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjxwYXRoIGQ9Ik0xLjI4IDQyLjU4NVYyOC44MTdMMzguNTg0IDEuNDRsMzcuMzAzIDI3LjM3NnYxMy43NjhMMzguNTg0IDE1LjA1eiIgY2xpcC1wYXRoPSJ1cmwoI0EpIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuMjgxIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzOC4zMDcgOC4zKSIvPjwvZz48L2c+PC9zdmc+") no-repeat center center;
	background-size: 8px;
}

#filterMenu #scrollDown {
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3NiIgaGVpZ2h0PSI0MyIgdmlld0JveD0iMCAwIDIwLjA3OCAxMS4yMjUiPjxkZWZzPjxjbGlwUGF0aCBpZD0iQSI+PHBhdGggZD0iTTAgMGg3Ny4xNjd2NDQuNjY3SDB6Ii8+PC9jbGlwUGF0aD48L2RlZnM+PHBhdGggZD0iTTE5LjkxLjE2OHYzLjZsLTkuODcgNy4yODVMLjE3IDMuNzd2LTMuNmw5Ljg3IDcuMjQzeiIgZmlsbC1vcGFjaXR5PSIwIi8+PHBhdGggZD0iTTc1Ljg4NiAxLjkyVjE1LjUzTDM4LjU4MyA0My4wNjUgMS4yOCAxNS41M1YxLjkybDM3LjMwMyAyNy4zNzZ6IiBjbGlwLXBhdGg9InVybCgjQSkiIGZpbGw9IiM1YTVhNWEiIHN0cm9rZT0iIzVhNWE1YSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjI4MSIgdHJhbnNmb3JtPSJtYXRyaXgoLjI2NDU4IDAgMCAuMjY0NTggLS4xNjkgLS4zNCkiLz48L3N2Zz4=") no-repeat center center;
	background-size: 8px;
}

#filterMenu div[action="applyFilter"][status="inactive"] {
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDIiIGhlaWdodD0iMTU1IiB2aWV3Qm94PSIwIDAgMzcuNTIgNDAuOTgyIj48ZGVmcz48Y2xpcFBhdGggaWQ9IkEiPjxwYXRoIGQ9Ik0wIDBoMTQzLjE3djE1Ni4zM0gweiIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTAtLjAwMWgzNXY2LjYwNGwtMTIuNTI4IDEyLjQ5VjQwLjk4bC05Ljk0Ni05LjkwN3YtMTEuOThMLjAwMSA2LjYwNHoiIGZpbGw9IiNhN2E3YTciLz48cGF0aCBkPSJNMTUuNzQ0IDE4Ljg0aDcuMTUzdi03LjE1NWg3LjA2OHY3LjE1NWg3LjE1M3Y3LjA3aC03LjE1M3Y3LjE1NWgtNy4wNjhWMjUuOTFoLTcuMTUzeiIgZmlsbD0iIzAwYjA1MCIvPjwvZz48cGF0aCBkPSJNNjAuMTQ2IDcxLjg0Nkg4Ny4xOFY0NC44MDRoMjYuNzE0djI3LjA0MmgyNy4wMzR2MjYuNzIyaC0yNy4wMzRWMTI1LjZIODcuMThWOTguNTY4SDYwLjE0NnoiIGNsaXAtcGF0aD0idXJsKCNBKSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjMuMDM5IiB0cmFuc2Zvcm09Im1hdHJpeCguMjY0NTggMCAwIC4yNjQ1OCAtLjE2OSAtLjE3KSIvPjwvc3ZnPg==") no-repeat center center;
	background-size: 15px;	
}

#filterMenu div[action="applyFilter"][status="active"] {
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDIiIGhlaWdodD0iMTU1IiB2aWV3Qm94PSIwIDAgMzcuNTIgNDAuOTgyIj48ZGVmcz48Y2xpcFBhdGggaWQ9IkEiPjxwYXRoIGQ9Ik0wIDBoMTQzLjE3djE1Ni4zM0gweiIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTAtLjAwMWgzNXY2LjYwNGwtMTIuNTI4IDEyLjQ5VjQwLjk4bC05Ljk0Ni05LjkwN3YtMTEuOThMLjAwMSA2LjYwNHoiIGZpbGw9IiM1YTVhNWEiLz48cGF0aCBkPSJNMTUuNzQ0IDE4Ljg0aDcuMTUzdi03LjE1NWg3LjA2OHY3LjE1NWg3LjE1M3Y3LjA3aC03LjE1M3Y3LjE1NWgtNy4wNjhWMjUuOTFoLTcuMTUzeiIgZmlsbD0iIzAwYjA1MCIvPjwvZz48cGF0aCBkPSJNNjAuMTQ2IDcxLjg0Nkg4Ny4xOFY0NC44MDRoMjYuNzE0djI3LjA0MmgyNy4wMzR2MjYuNzIyaC0yNy4wMzRWMTI1LjZIODcuMThWOTguNTY4SDYwLjE0NnoiIGNsaXAtcGF0aD0idXJsKCNBKSIgdHJhbnNmb3JtPSJtYXRyaXgoLjI2NDU4IDAgMCAuMjY0NTggLS4xNjkgLS4xNykiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIzLjAzOSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==") no-repeat center center;
	background-size: 15px;	
}

#filterMenu [action="clearFilter"][status="inactive"] {
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDQiIGhlaWdodD0iMTU1IiB2aWV3Qm94PSIwIDAgMzguMDU0IDQwLjk4MiI+PGRlZnM+PGNsaXBQYXRoIGlkPSJBIj48cGF0aCBkPSJNMCAwaDE0NS42N3YxNTYuMzNIMHoiLz48L2NsaXBQYXRoPjwvZGVmcz48ZyBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0wLS4wMDVoMzUuMDY3VjYuNkwyMi40OSAxOS4wOXYyMS44ODhsLTkuOTUzLTkuOTA3VjE5LjA5TDAgNi42eiIgZmlsbD0iI2E3YTdhNyIvPjxwYXRoIGQ9Ik0yMi41MyA5LjYwNmw1LjA4MiA1LjA4IDUuMDQtNS4wOCA0Ljk5OCA0Ljk5Ni01LjA0IDUuMDM4IDUuMDQgNS4wOC00Ljk5OCA0Ljk5Ni01LjA0LTUuMDgtNS4wODIgNS4wOC00Ljk5OC00Ljk5NiA1LjA4Mi01LjA4LTUuMDgyLTUuMDM4eiIgZmlsbD0iI2MwMDAwMCIvPjwvZz48cGF0aCB0cmFuc2Zvcm09Im1hdHJpeCguMjY0NTggMCAwIC4yNjQ1OCAtLjEyNjk0NCAtLjE3Mzk0NCkiIGQ9Ik04NS42NCAzNi45NjNsMTkuMjEgMTkuMjAyIDE5LjA1LTE5LjIwMiAxOC44OSAxOC44ODItMTkuMDUgMTkuMDQyIDE5LjA1IDE5LjIwMi0xOC44OSAxOC44ODItMTkuMDUtMTkuMjAyLTE5LjIxIDE5LjIwMkw2Ni43NSA5NC4wOWwxOS4yMS0xOS4yMDItMTkuMjEtMTkuMDQyeiIgY2xpcC1wYXRoPSJ1cmwoI0EpIiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMy4wNDEiLz48L3N2Zz4=") no-repeat center center;
	background-size: 15px;	
}

#filterMenu [action="clearFilter"][status="active"] {
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDQiIGhlaWdodD0iMTU1IiB2aWV3Qm94PSIwIDAgMzguMDU0IDQwLjk4MiI+PGRlZnM+PGNsaXBQYXRoIGlkPSJBIj48cGF0aCBkPSJNMCAwaDE0NS42N3YxNTYuMzNIMHoiLz48L2NsaXBQYXRoPjwvZGVmcz48ZyBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0wLS4wMDVoMzUuMDY3VjYuNkwyMi40OSAxOS4wOXYyMS44ODhsLTkuOTUzLTkuOTA3VjE5LjA5TDAgNi42eiIgZmlsbD0iIzVhNWE1YSIvPjxwYXRoIGQ9Ik0yMi41MyA5LjYwNmw1LjA4MiA1LjA4IDUuMDQtNS4wOCA0Ljk5OCA0Ljk5Ni01LjA0IDUuMDM4IDUuMDQgNS4wOC00Ljk5OCA0Ljk5Ni01LjA0LTUuMDgtNS4wODIgNS4wOC00Ljk5OC00Ljk5NiA1LjA4Mi01LjA4LTUuMDgyLTUuMDM4eiIgZmlsbD0iI2MwMDAwMCIvPjwvZz48cGF0aCB0cmFuc2Zvcm09Im1hdHJpeCguMjY0NTggMCAwIC4yNjQ1OCAtLjEyNjk0NCAtLjE3Mzk0NCkiIGQ9Ik04NS42NCAzNi45NjNsMTkuMjEgMTkuMjAyIDE5LjA1LTE5LjIwMiAxOC44OSAxOC44ODItMTkuMDUgMTkuMDQyIDE5LjA1IDE5LjIwMi0xOC44OSAxOC44ODItMTkuMDUtMTkuMjAyLTE5LjIxIDE5LjIwMkw2Ni43NSA5NC4wOWwxOS4yMS0xOS4yMDItMTkuMjEtMTkuMDQyeiIgY2xpcC1wYXRoPSJ1cmwoI0EpIiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMy4wNDEiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=") no-repeat center center;
	background-size: 15px;	
}

#filterMenu #criteriaList {
	max-height: 250px;
	margin: 5px;
	overflow-y: auto;
	scrollbar-width: none;
}

@-moz-document url-prefix() {
    html,body{overflow: hidden !important;}
}

#filterMenu .filterRow {
	display: block;
	margin: 5px;
	width: inherit;
	height: 20px;
}

#filterMenu .filterRow .categoryLabel {
	vertical-align: middle;
	float: left;
}

#filterMenu .filterRow:hover .categoryLabel {
	font-weight: bold;
}

#filterMenu #criteriaList::-webkit-scrollbar { 
    display: none; 
}

#filterMenu .filterRow [type="checkbox"] {
	vertical-align: middle;
	float: right;
	width: 12px;
	height: 12px;
}

#filterMenu .filterRow [status="checked"] {
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2OCIgaGVpZ2h0PSI2OCIgdmlld0JveD0iMCAwIDE3Ljc0MSAxNy43NDEiPjxwYXRoIGQ9Ik0tLjAwMS0uMDAxSDE3LjRsLTEuMSAxLjFIMS4xdjE1LjU0aDE1LjU0VjcuODc1bDEuMS0xLjFWMTcuNzRILS4wMDF6bTE3Ljc0LjkzdjQuODI3TDguOSAxNC42NWwtNS44LTUuOCAyLjM3LTIuMzMgMy4zNDUgMy4zMDJ6IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiM1YTVhNWEiLz48L3N2Zz4=") no-repeat center center;
	background-size: 12px;
}

#filterMenu .filterRow:hover [status="checked"] {
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2OCIgaGVpZ2h0PSI2OCIgdmlld0JveD0iMCAwIDE3Ljc0MSAxNy43NDEiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTAgMHYxNy43NGgxNy43NFYweiIgZmlsbD0iIzVhNWE1YSIvPjxwYXRoIGQ9Ik0xNy43NC45MzJ2NC44MjdMOC44NSAxNC42NSAzLjEgOC44NWwyLjM3LTIuMzMgMy4zNDUgMy4zMDN6IiBmaWxsPSIjZmZmIi8+PC9zdmc+") no-repeat center center;
	background-size: 12px;
}

#filterMenu .filterRow [status="semichecked"] {
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2OCIgaGVpZ2h0PSI2OCIgdmlld0JveD0iMCAwIDE3Ljc0MSAxNy43NDEiPjxwYXRoIGQ9Ik0yLjA3NSAyLjA3NXYxMy41NWgxMy41NVYyLjA3NXpNMCAwaDE3Ljc0djE3Ljc0SDB6bTUuOCA1Ljg0M3Y2LjA5N2g2LjA5N1Y1Ljg0M3oiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI2E3YTdhNyIvPjwvc3ZnPg==") no-repeat center center;
	background-size: 12px;
}

#filterMenu .filterRow [status="unchecked"] {
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NyIgaGVpZ2h0PSI2OCIgdmlld0JveD0iMCAwIDE3LjY5OSAxNy43NDEiPjxwYXRoIGQ9Ik0yLjA3NSAyLjA3NXYxMy41NWgxMy41NVYyLjA3NXpNMCAwaDE3Ljd2MTcuNzRIMHoiIGZpbGw9IiNhN2E3YTciIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==") no-repeat center center;
	background-size: 12px;
}

#filterMenu .submitButton {
	border: 1px solid #5a5a5a;
	border-radius: 5px;
	width: 55px;
	height: 20px;
	margin: 5px;
	text-align: center;
}

#filterMenu .submitButton:hover {
	background: #5a5a5a;
	color: #fff;
}

#filterMenu .submitButton[match="1"],[match="2"] {
	float: left;
}

#filterMenu .submitButton[action="cancel"] {
	float: right;
}

.noSelectionHighlight{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}
