.columnFilter {
	background: url("filterinactive.svg") no-repeat center center;
	background-size: 15px;
	width: 30px;
	height: 20px;
	float: left;
}

#filterMenu {
	display: none;
	position: absolute;
	z-index: 100;
	float: right;
	box-shadow: 3px 3px 10px #666666;
	background: white;
	width: 220px;
	padding: 5px;
	border-radius: 5px;
}

#filterMenu .searchRow {
	width: inherent;
	height: 20px;
	display: block;
	vertical-align: middle;
	margin: 5px;
}

#filterMenu .searchRow input {
	max-width: 150px;
	float: left;
	vertical-align: middle;
}

#filterMenu .searchRow .tinyButton {
	width: 20px;
	height: 20px;
	margin-left: 5px;
	display: block;
	float: right;
	vertical-align: middle;
	cursor: pointer;
}

#filterMenu div[action="applyFilter"] {
	background: url("filterapply.svg") no-repeat center center;
	background-size: 15px;	
}

#filterMenu div[action="clearFilter"] {
	background: url("filterclear.svg") no-repeat center center;
	background-size: 15px;	
}

#filterMenu .criteriaList {
	overflow-y: scroll;
	max-height: 250px;
}

#filterMenu .filterRow {
	display: block;
	margin: 5px;
	width: inherit;
	height: 20px;
}

#filterMenu .filterRow label {
	vertical-align: middle;
	float: left;
}

#filterMenu .criteriaList::-webkit-scrollbar { 
    display: none; 
}

#filterMenu .filterRow input {
	vertical-align: middle;
	float: right;
}
